@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

/* index.css */

/* Chế độ sáng */
.light-mode {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Chế độ tối */
.dark-mode {
  --bg-color: #1f2937;
  --text-color: #ffffff;
}

/* Các lớp CSS sử dụng biến màu */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thumb-rounded-full::-webkit-scrollbar-thumb {
  border-radius: 9999px;
}
